.ignore-css {
    all:unset;
}

.dns-record-pre {
    all:unset;
    display: block;
    word-wrap: break-word;
    color: black;
    border: 1px solid #E1E1E1;
    background: #F1F1F1;
    white-space: normal;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
}


/*
    seq 0 30 | tac | \
      while read N; do
        P=$(echo "(100/30)*(30-$N)" | bc -l | cut -c -4);
        echo "$P% { content: "$N" }";
      done
*/

@-webkit-keyframes changeLetter {
0% { content: "30"; }
3% { content: "29"; }
6% { content: "28"; }
9% { content: "27"; }
13% { content: "26"; }
16% { content: "25"; }
19% { content: "24"; }
23% { content: "23"; }
26% { content: "22"; }
29% { content: "21"; }
33% { content: "20"; }
36% { content: "19"; }
39% { content: "18"; }
43% { content: "17"; }
46% { content: "16"; }
49% { content: "15"; }
53% { content: "14"; }
56% { content: "13"; }
59% { content: "12"; }
63% { content: "11"; }
66% { content: "10"; }
69% { content: "9"; }
73% { content: "8"; }
76% { content: "7"; }
79% { content: "6"; }
83% { content: "5"; }
86% { content: "4"; }
89% { content: "3"; }
93% { content: "2"; }
96% { content: "1"; }
99% { content: "0"; }
100% { content: ""; }
}
@-moz-keyframes changeLetter {
0% { content: "30"; }
3% { content: "29"; }
6% { content: "28"; }
9% { content: "27"; }
13% { content: "26"; }
16% { content: "25"; }
19% { content: "24"; }
23% { content: "23"; }
26% { content: "22"; }
29% { content: "21"; }
33% { content: "20"; }
36% { content: "19"; }
39% { content: "18"; }
43% { content: "17"; }
46% { content: "16"; }
49% { content: "15"; }
53% { content: "14"; }
56% { content: "13"; }
59% { content: "12"; }
63% { content: "11"; }
66% { content: "10"; }
69% { content: "9"; }
73% { content: "8"; }
76% { content: "7"; }
79% { content: "6"; }
83% { content: "5"; }
86% { content: "4"; }
89% { content: "3"; }
93% { content: "2"; }
96% { content: "1"; }
99% { content: "0"; }
100% { content: ""; }
}
@-o-keyframes changeLetter {
0% { content: "30"; }
3% { content: "29"; }
6% { content: "28"; }
9% { content: "27"; }
13% { content: "26"; }
16% { content: "25"; }
19% { content: "24"; }
23% { content: "23"; }
26% { content: "22"; }
29% { content: "21"; }
33% { content: "20"; }
36% { content: "19"; }
39% { content: "18"; }
43% { content: "17"; }
46% { content: "16"; }
49% { content: "15"; }
53% { content: "14"; }
56% { content: "13"; }
59% { content: "12"; }
63% { content: "11"; }
66% { content: "10"; }
69% { content: "9"; }
73% { content: "8"; }
76% { content: "7"; }
79% { content: "6"; }
83% { content: "5"; }
86% { content: "4"; }
89% { content: "3"; }
93% { content: "2"; }
96% { content: "1"; }
99% { content: "0"; }
100% { content: ""; }
}
@keyframes changeLetter {
0% { content: "30"; }
3% { content: "29"; }
6% { content: "28"; }
9% { content: "27"; }
13% { content: "26"; }
16% { content: "25"; }
19% { content: "24"; }
23% { content: "23"; }
26% { content: "22"; }
29% { content: "21"; }
33% { content: "20"; }
36% { content: "19"; }
39% { content: "18"; }
43% { content: "17"; }
46% { content: "16"; }
49% { content: "15"; }
53% { content: "14"; }
56% { content: "13"; }
59% { content: "12"; }
63% { content: "11"; }
66% { content: "10"; }
69% { content: "9"; }
73% { content: "8"; }
76% { content: "7"; }
79% { content: "6"; }
83% { content: "5"; }
86% { content: "4"; }
89% { content: "3"; }
93% { content: "2"; }
96% { content: "1"; }
99% { content: "0"; }
100% { content: ""; }
}

.count-down {
  /*display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;*/

}
.count-down::after {
  -webkit-animation: changeLetter 30s linear;
  -moz-animation: changeLetter 30s linear;
  -o-animation: changeLetter 30s linear;
  /* animation: whiteSonarEffect 30s linear; */
  animation-name: changeLetter;
  animation-duration: 30s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  /*  animation: changeLetter 30s linear alternate; */
    /* display: block; */
   content: "";
    /* font-size: 80px; */
}
