<!doctype html>
<title>epost.sikkerserver.no - Check DMARC and SPF using checkdmarc</title>
<p>
<h2>Example tests</h2>
<p>
<div>
<div style="display: inline-block; text-align: center">
    <input id="domain" type="text" value="dmarc.no" onclick="if(this.value=='dmarc.no'){this.value=''};" size="30" style="margin-bottom: 2px"><br />
    <button style="width: 49%" id="check" onclick="if(document.getElementById('domain').value!=''){ window.location.href='/lookup/async/'+document.getElementById('domain').value};">Asynchronous</button>
    <button style="width: 49%" id="check" onclick="if(document.getElementById('domain').value!=''){ window.location.href='/lookup/'+document.getElementById('domain').value};">Synchronous</button>
</div>
</div>
</p>
<h3>Real domains for testing</h3>
<table>
    <tr><th>Asynchronous</th><th>Synchronous (slow)</th></tr>
    {% for domain in example_domains %}
    <tr>
        <td><a href="/lookup/async/{{ domain }}">{{ domain }}</a></td>
        <td><a href="/lookup/{{ domain }}">{{ domain }}</a></td>
    </tr>
    {% endfor %}
</table>

<h3>This-service-only test domains</h3>
<table>
    <tr><th>Asynchronous</th><th>Synchronous (slow)</th></tr>
    {% for domain in test_domains %}
    <tr>
        <td><a href="/lookup/async/{{ domain }}">{{ domain }}</a></td>
        <td><a href="/lookup/{{ domain }}">{{ domain }}</a></td>
    </tr>
    {% endfor %}
</table>
</p>
<p>
    <h2>Resources</h2>
<ul><li>
<a href="https://seanthegeek.net/459/demystifying-dmarc/">https://seanthegeek.net/459/demystifying-dmarc/</a> - A complete guide to SPF, DKIM, and DMARC
    </li></ul>
</p>
<p>
<h2>About this service</h2>
<ul>
  <li>
    <a href="https://github.com/Kagee/checkdmarc-flask">https://github.com/Kagee/checkdmarc-flask</a> - The code for this service
  </li>
</ul>
</p>
<p>
    <h3>Debug info</h3>
<table>
    <tr><th>{{ _('Key') }}</th><th>{{ _('Value') }}</th></tr>
    {% for key, value in debug_data.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>
</p>