<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>checkdmarc-flask</title>
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
    <link href="{{ url_for('static', filename='raleway/raleway.css') }}" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <!--load font awesome css and font-->
    <link href="{{ url_for('static', filename='fontawesome-free/css/all.css') }}" rel="stylesheet">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">

    <header>
        {% if render_test_links %}
        <div class="row" style="margin-top: 3%; text-align: center">

            <div class="one columns" style="">
                <p><a href="landing.html">landing</a></p>
            </div>

            <div class="one columns" style="">
                <p><a href="working.html">working</a></p>
            </div>

            <div class="two columns" style="">
                <p><a href="result-good.html">result-good</a></p>
            </div>

            <div class="two columns" style="">
                <p><a href="result-warn.html">result-warn</a></p>
            </div>

            <div class="two columns" style="">
                <p><a href="result-error.html">result-error</a></p>
            </div>

            <div class="two columns" style="">
                <p><a href="result-fail.html">result-fail</a></p>
            </div>
            <div class="two columns" style="">
                <p><a href="result-nxdomain.html">result-nxdomain</a></p>
            </div>
        </div>
        {% else %}
        <div class="row" style="margin-top: 3%; text-align: center">
        <div class="six columns" style="">
            <img src="{{ url_for('static', filename='images/sjekk.email.png') }}" style="width: 100%">
        </div>
        </div>
        {% endif %}
        <hr/>

    </header>

    <!-- End of header.html
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
