{% include 'header.html' %}

    <form action="working.html" method="get">
        <div class="row">
            <div class="offset-by-two four columns">
                <input class="u-full-width" id="exampleEmailInput" name="domain" placeholder="sikkerserver.no"
                       type="text" value="sikkerserver.no">

            </div>
            <div class="six columns">
                <button class="button-primary" type="submit" style="font-size: 90%"><i class="fas fa-search"></i>&nbsp;Check domain</button>
            </div>
        </div>
    </form>

{% include 'footer.html' %}
