.ignore-css {
    all:unset;
}

.dns-record-pre {
    all:unset;
    display: block;
    word-wrap: break-word;
    color: black;
    border: 1px solid #E1E1E1;
    background: #F1F1F1;
    white-space: normal;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
}

/*
  Flag icons courtesy of http://flag-icon-css.lip.is/
*/
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}

.flag-icon-no {
  background-image: url(../images/no.svg);
}

.flag-icon-gb {
  background-image: url(../images/gb.svg);
}